In [15]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
!tar xf spark-2.4.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [16]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.1-bin-hadoop2.7"

In [17]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [18]:
from pyspark.sql import SparkSession

In [19]:
spark = SparkSession.builder \
   .appName("Neural Network Model") \
   .config("spark.executor.memory", "3gb") \
   .getOrCreate()
   
sc = spark.sparkContext

In [20]:
sc

**2. Data Understanding using SparkSQL**

In [21]:
! wget https://storage.googleapis.com/class25jan2022/share/2008.csv

--2022-02-03 15:57:38--  https://storage.googleapis.com/class25jan2022/share/2008.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 209.85.146.128, 209.85.147.128, 142.250.125.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|209.85.146.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 689413344 (657M) [text/csv]
Saving to: ‘2008.csv.1’

2008.csv.1          100%[===================>] 657.48M   184MB/s    in 3.8s

2022-02-03 15:57:42 (175 MB/s) - ‘2008.csv.1’ saved [689413344/689413344]

In [22]:
! wc -l ./2008.csv

7009729 ./2008.csv

In [23]:
! head -3 2008.csv

Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2008,1,3,4,2003,1955,2211,2225,WN,335,N712SW,128,150,116,-14,8,IAD,TPA,810,4,8,0,,0,NA,NA,NA,NA,NA
2008,1,3,4,754,735,1002,1000,WN,3231,N772SW,128,145,113,2,19,IAD,TPA,810,5,10,0,,0,NA,NA,NA,NA,NA

In [24]:
raw_df = spark.read.format('csv').\
option('header','true').option('mode','DROPMALFORMED')\
.load('2008.csv')

In [25]:
raw_df.count()

7009728

In [26]:
raw_df.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: string (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)

In [27]:
raw_df\
.select(['DepTime','TaxiOut','TaxiIn',\
                     'DayOfWeek','Distance','ArrDelay'])\
                     .describe().show()

+-------+------------------+------------------+-----------------+------------------+-----------------+-----------------+
|summary|           DepTime|           TaxiOut|           TaxiIn|         DayOfWeek|         Distance|         ArrDelay|
+-------+------------------+------------------+-----------------+------------------+-----------------+-----------------+
|  count|           7009728|           7009728|          7009728|           7009728|          7009728|          7009728|
|   mean|1333.8300461105448|16.453045177492882|6.860851704974527|3.9241815088973495|726.3870294253928| 8.16845238729114|
| stddev|478.06889486629836|11.332798654232155|4.933649371300466|1.9882589459851212|562.1018034840403|38.50193694882867|
|    min|                 1|                 0|                0|                 1|              100|               -1|
|    max|                NA|                NA|               NA|                 7|              999|               NA|
+-------+------------------+------------------+-----------------+------------------+-----------------+-----------------+

In [28]:
from pyspark.sql.functions import *

In [29]:
raw_df.select(col("DepTime").cast('Integer')).show()

+-------+
|DepTime|
+-------+
|   2003|
|    754|
|    628|
|    926|
|   1829|
|   1940|
|   1937|
|   1039|
|    617|
|   1620|
|    706|
|   1644|
|   1426|
|    715|
|   1702|
|   1029|
|   1452|
|    754|
|   1323|
|   1416|
+-------+
only showing top 20 rows

In [30]:
raw_df_test = raw_df.filter(raw_df.DepTime=='12')

In [31]:
raw_df_test.show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|        27|        7|     12|      2130|    110|      2235|           WN|     2721| N214WN|               58|            65|     40|     155|     162|   BUR| LAS|     223|     6|     12|        0|            null|       0|           0|           0|       0|            0|              155|
|2008|    1|        30|        3|     12|      2210|    147|      2340|           WN|     2551| N333SW|               95|            90|     85|     127|     122|   PHX| SLC|     507|     3|      7|        0|            null|       0|         110|           0|       5|            0|               12|
|2008|    1|        31|        4|     12|      1950|    230|      2205|           WN|     1210| N658SW|              138|           135|    123|     265|     262|   PIT| MCO|     834|     5|     10|        0|            null|       0|           0|           0|       3|            0|              262|
|2008|    1|         4|        5|     12|      2215|    314|        28|           OO|     6453| N938SW|              122|            73|     50|     166|     117|   LAX| PHX|     370|     5|     67|        0|            null|       0|           0|           0|     166|            0|                0|
|2008|    1|        23|        3|     12|      2253|    138|        24|           OO|     5775| N579SW|               26|            31|     15|      74|      79|   IPL| YUM|      58|     4|      7|        0|            null|       0|           0|           0|       0|            0|               74|
|2008|    1|         3|        4|     12|      2355|    820|       807|           UA|       32| N512UA|              308|           312|    286|      13|      17|   LAX| JFK|    2475|    10|     12|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|        17|        4|     12|      2015|    242|      2241|           UA|      502| N925UA|              150|           146|    131|     241|     237|   ORD| MSY|     837|     3|     16|        0|            null|       0|           0|          14|       4|            0|              223|
|2008|    1|         3|        4|     12|      2200|    823|       619|           US|      942| N167US|              311|           319|    289|     124|     132|   SFO| PHL|    2521|     9|     13|        0|            null|       0|           7|           0|       0|            0|              117|
|2008|    1|         5|        6|     12|      2345|    542|       541|           US|      305| N902AW|              210|           236|    190|       1|      27|   PHX| CLT|    1774|     5|     15|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|        17|        4|     12|      2345|    538|       534|           US|      305| N901AW|              206|           229|    191|       4|      27|   PHX| CLT|    1774|     5|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|     12|      2355|    527|       515|           F9|      442| N929FR|              195|           200|    180|      12|      17|   DEN| PHL|    1557|     6|      9|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|        13|        7|     12|      1835|    238|      2103|           FL|      357| N968AT|              146|           148|    119|     335|     337|   LGA| ATL|     761|     4|     23|        0|            null|       0|           0|           0|       0|            0|              335|
|2008|    1|        11|        5|     12|      2355|    659|       655|           AA|      246| N5DKAA|              287|           300|    266|       4|      17|   KOA| LAX|    2504|    11|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         2|        3|     12|      2310|    607|       505|           AA|     1092| N5DLAA|              235|           235|    211|      62|      62|   LAX| ORD|    1745|     9|     15|        0|            null|       0|          32|           0|       0|            0|               30|
|2008|    1|        15|        2|     12|      2355|    104|        53|           AS|      191| N760AS|               52|            58|     37|      11|      17|   ANC| FAI|     261|     3|     12|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|     12|      2355|    800|       755|           B6|      166| N623JB|              288|           300|    273|       5|      17|   PDX| JFK|    2454|     5|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|        19|        6|     12|        15|    831|       823|           B6|      172| N588JB|              319|           308|    289|       8|      -3|   SMF| JFK|    2521|    11|     19|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|        22|        2|     12|      2359|    610|       619|           B6|      106| N648JB|              238|           260|    223|      -9|      13|   TUS| JFK|    2136|     2|     13|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|        28|        1|     12|        15|    802|       823|           B6|      172| N566JB|              290|           308|    270|     -21|      -3|   SMF| JFK|    2521|    10|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|        13|        7|     12|      2315|    839|       735|           DL|      410|  N3766|              327|           320|    300|      64|      57|   LAX| JFK|    2475|    11|     16|        0|            null|       0|           0|          57|       7|            0|                0|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

In [32]:
raw_df_test.select(col("DepTime").cast('Integer')).show()

+-------+
|DepTime|
+-------+
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
|     12|
+-------+
only showing top 20 rows

In [33]:
raw_df.filter(raw_df.DepTime=='24').show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         7|        1|     24|      2055|    312|      2340|           YV|     7248| N515MJ|              108|           105|     85|     212|     209|   ORD| CLT|     599|     5|     18|        0|            null|       0|         212|           0|       0|            0|                0|
|2008|    1|        13|        7|     24|      2356|    231|       212|           YV|     2835| N929LR|               67|            76|     49|      19|      28|   LAS| TUS|     365|     4|     14|        0|            null|       0|           0|           0|      19|            0|                0|
|2008|    1|        20|        7|     24|      1920|    112|      2027|           YV|     7242| N17175|               48|            67|     33|     285|     304|   PHL| IAD|     134|     8|      7|        0|            null|       0|         285|           0|       0|            0|                0|
|2008|    1|        31|        4|     24|      2055|    138|      2211|           YV|     7100| N445YV|               74|            76|     55|     207|     209|   DEN| MTJ|     197|     4|     15|        0|            null|       0|         207|           0|       0|            0|                0|
|2008|    1|        21|        1|     24|      2225|    123|      2328|           OO|     6433| N909SW|               59|            63|     36|     115|     119|   LAX| FAT|     209|     5|     18|        0|            null|       0|           0|           0|       0|            0|              115|
|2008|    1|        21|        1|     24|      2320|    750|       717|           UA|      224| N405UA|              266|           297|    253|      33|      64|   SFO| IAD|    2419|     4|      9|        0|            null|       0|           6|           0|       0|            0|               27|
|2008|    1|        31|        4|     24|      2320|    835|       717|           UA|      224| N410UA|              311|           297|    287|      78|      64|   SFO| IAD|    2419|     9|     15|        0|            null|       0|          64|           0|      14|            0|                0|
|2008|    1|        11|        5|     24|      2145|    109|      2254|           UA|      363| N332UA|              105|           129|     85|     135|     159|   IAD| ORD|     589|     9|     11|        0|            null|       0|           0|           0|       0|            0|              135|
|2008|    1|        19|        6|     24|      2340|    726|       625|           UA|     1068| N590UA|              302|           285|    281|      61|      44|   OGG| SFO|    2338|     7|     14|        0|            null|       0|          18|           0|      17|            0|               26|
|2008|    1|         2|        3|     24|      2355|    723|       709|           US|      876| N936UW|              239|           254|    222|      14|      29|   LAS| CLT|    1916|     4|     13|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|     24|      2359|    201|       138|           US|      374| N637AW|               97|            99|     69|      23|      25|   LAS| OAK|     407|    10|     18|        0|            null|       0|          21|           0|       0|            0|                2|
|2008|    1|         4|        5|     24|      2120|    351|        54|           US|      257| N807AW|              327|           334|    306|     177|     184|   PHL| PHX|    2075|     4|     17|        0|            null|       0|          19|           0|       0|            0|              158|
|2008|    1|         5|        6|     24|      2354|    734|       714|           US|      579| N632AW|              250|           260|    220|      20|      30|   LAS| TPA|    1984|     5|     25|        0|            null|       0|          20|           0|       0|            0|                0|
|2008|    1|         6|        7|     24|      2355|    549|       515|           F9|      442| N922FR|              205|           200|    173|      34|      29|   DEN| PHL|    1557|     7|     25|        0|            null|       0|          29|           0|       5|            0|                0|
|2008|    1|         7|        1|     24|        25|    534|       510|           F9|      430| N802FR|              190|           165|    142|      24|      -1|   DEN| ATL|    1199|     8|     40|        0|            null|       0|           0|           0|      24|            0|                0|
|2008|    1|        15|        2|     24|        25|    503|       510|           F9|      430| N908FR|              159|           165|    143|      -7|      -1|   DEN| ATL|    1199|     6|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|        11|        5|     24|        30|    610|       602|           NW|      314| N596NW|              226|           212|    187|       8|      -6|   LAX| MSP|    1536|    12|     27|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|        12|        6|     24|        30|    612|       602|           NW|      314| N590NW|              228|           212|    194|      10|      -6|   LAX| MSP|    1536|    14|     20|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|        29|        2|     24|        30|    555|       602|           NW|      314| N596NW|              211|           212|    187|      -7|      -6|   LAX| MSP|    1536|     8|     16|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|        30|        3|     24|        40|    546|       605|           NW|      362| N533US|              202|           205|    177|     -19|     -16|   SFO| MSP|    1589|     9|     16|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

In [34]:
raw_df.select('DepTime').orderBy('DepTime',ascending=True).show()

+-------+
|DepTime|
+-------+
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
|      1|
+-------+
only showing top 20 rows

In [35]:
from pyspark.sql.functions import *

In [36]:
def DepTimePeriod(x):
  if x is None:
    time_grp = 'null'
  elif (x>=1 and x<6)or (x>=100 and x<=559):
    time_grp = '00.01-05.59'
  elif (x>=6 and x<12) or (x>=600 and x<=1159):
    time_grp = '06.00-11.59'
  elif (x>=12 and x<18) or (x>=1200 and x<=1759):
    time_grp = '12.00-17.59'
  elif (x>=18 and x<=24) or (x>=1800 and x<=2400):
    time_grp = '18.00-24.00'
  else:
    time_grp ='null'

  return time_grp

In [37]:
timeperiod = udf(lambda x:DepTimePeriod(x) )

In [38]:
depTimePeriod = raw_df.withColumn('DepTime',timeperiod(col('DepTime').cast("Integer")))\
.groupBy('DepTime').count().orderBy('DepTime')

In [39]:
depTimePeriod.show()

+-----------+-------+
|    DepTime|  count|
+-----------+-------+
|00.01-05.59| 162405|
|06.00-11.59|2645956|
|12.00-17.59|2556733|
|18.00-24.00|1497435|
|       null| 147199|
+-----------+-------+

In [40]:
# depTimePeriod = raw_df.withColumn('DepTime',timeperiod(col('DepTime').cast("Integer")))
# depTimePeriod.show()

In [41]:
raw_df.groupBy('month').count().orderBy('count',ascending=False).show()

+-----+------+
|month| count|
+-----+------+
|    7|627931|
|    3|616090|
|    8|612279|
|    6|608665|
|    5|606293|
|    1|605765|
|    4|598126|
|    2|569236|
|   10|556205|
|   12|544958|
|    9|540908|
|   11|523272|
+-----+------+

In [42]:
from pyspark.sql import functions as sparkf

In [43]:
raw_df.groupBy('month').agg({'month':'count','ArrDelay':'avg'})\
.withColumnRenamed('count(month)','numMonth')\
.withColumnRenamed('avg(ArrDelay)','avgArrDelay')\
.orderBy(sparkf.col('numMonth').desc(),sparkf.col('avgArrDelay').desc()).show()

+-----+--------+------------------+
|month|numMonth|       avgArrDelay|
+-----+--------+------------------+
|    7|  627931| 9.975049681276131|
|    3|  616090| 11.19236458018227|
|    8|  612279|  6.91091468997087|
|    6|  608665|13.266756009659792|
|    5|  606293| 5.978448290248828|
|    1|  605765|10.188855960349496|
|    4|  598126| 6.807297481094145|
|    2|  569236|13.077836997760205|
|   10|  556205|0.4154954706912698|
|   12|  544958|16.680505081496417|
|    9|  540908|0.6977328787273043|
|   11|  523272| 2.015857969430839|
+-----+--------+------------------+