In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
!tar xf spark-2.4.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.1-bin-hadoop2.7"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder \
   .appName("Neural Network Model") \
   .config("spark.executor.memory", "3gb") \
   .getOrCreate()
   
sc = spark.sparkContext

In [6]:
sc

**2. Data Understanding using SparkSQL**

In [7]:
! wget https://storage.googleapis.com/class25jan2022/share/2008.csv

--2022-01-31 02:39:30--  https://storage.googleapis.com/class25jan2022/share/2008.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 209.85.146.128, 142.250.136.128, 142.250.148.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|209.85.146.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 689413344 (657M) [text/csv]
Saving to: ‘2008.csv’

2008.csv            100%[===================>] 657.48M   100MB/s    in 5.7s

2022-01-31 02:39:36 (116 MB/s) - ‘2008.csv’ saved [689413344/689413344]

In [8]:
! wc -l ./2008.csv

7009729 ./2008.csv

In [9]:
! head -3 2008.csv

Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2008,1,3,4,2003,1955,2211,2225,WN,335,N712SW,128,150,116,-14,8,IAD,TPA,810,4,8,0,,0,NA,NA,NA,NA,NA
2008,1,3,4,754,735,1002,1000,WN,3231,N772SW,128,145,113,2,19,IAD,TPA,810,5,10,0,,0,NA,NA,NA,NA,NA

In [10]:
raw_df = spark.read.format('csv').\
option('header','true').option('mode','DROPMALFORMED')\
.load('2008.csv')

In [11]:
raw_df.count()

7009728

In [12]:
raw_df.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: string (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)

In [18]:
raw_df_select = raw_df.select('DepTime','TaxiOut','TaxiIn','DayOfWeek','Distance','ArrDelay')

In [19]:
raw_df_select.show()

+-------+-------+------+---------+--------+--------+
|DepTime|TaxiOut|TaxiIn|DayOfWeek|Distance|ArrDelay|
+-------+-------+------+---------+--------+--------+
|   2003|      8|     4|        4|     810|     -14|
|    754|     10|     5|        4|     810|       2|
|    628|     17|     3|        4|     515|      14|
|    926|      7|     3|        4|     515|      -6|
|   1829|     10|     3|        4|     515|      34|
|   1940|     10|     4|        4|     688|      11|
|   1937|      7|     3|        4|    1591|      57|
|   1039|      7|     7|        4|    1591|     -18|
|    617|     19|     6|        4|     451|       2|
|   1620|      6|     3|        4|     451|     -16|
|    706|     19|     5|        4|     828|       1|
|   1644|      8|     6|        4|     828|      80|
|   1426|     12|     9|        4|     162|       1|
|    715|     21|     7|        4|     162|      10|
|   1702|     10|     4|        4|     162|      -4|
|   1029|      9|     6|        4|     162|      11|
|   1452|      8|     7|        4|    1489|      15|
|    754|     16|     5|        4|    1489|     -15|
|   1323|      9|     4|        4|     838|      16|
|   1416|      5|     2|        4|     220|      37|
+-------+-------+------+---------+--------+--------+
only showing top 20 rows

In [20]:
raw_df_select.describe().show()

+-------+------------------+------------------+-----------------+------------------+-----------------+-----------------+
|summary|           DepTime|           TaxiOut|           TaxiIn|         DayOfWeek|         Distance|         ArrDelay|
+-------+------------------+------------------+-----------------+------------------+-----------------+-----------------+
|  count|           7009728|           7009728|          7009728|           7009728|          7009728|          7009728|
|   mean|1333.8300461105448|16.453045177492882|6.860851704974527|3.9241815088973495|726.3870294253928| 8.16845238729114|
| stddev|478.06889486629836|11.332798654232155|4.933649371300466|1.9882589459851212|562.1018034840403|38.50193694882867|
|    min|                 1|                 0|                0|                 1|              100|               -1|
|    max|                NA|                NA|               NA|                 7|              999|               NA|
+-------+------------------+------------------+-----------------+------------------+-----------------+-----------------+

In [41]:
raw_df.groupBy('Month').count().show()

+-----+------+
|Month| count|
+-----+------+
|    7|627931|
|   11|523272|
|    3|616090|
|    8|612279|
|    5|606293|
|    6|608665|
|    9|540908|
|    1|605765|
|   10|556205|
|    4|598126|
|   12|544958|
|    2|569236|
+-----+------+

In [39]:
raw_grpby_df= raw_df.groupBy("Month").agg({'ArrDelay':'avg', 'Month':'count'})

In [40]:
raw_grpby_df.select(raw_grpby_df[0],raw_grpby_df[1].alias('NumMonth'),raw_grpby_df[2].alias('avgArrDelay')).show()

+-----+--------+------------------+
|Month|NumMonth|       avgArrDelay|
+-----+--------+------------------+
|    7|  627931| 9.975049681276131|
|   11|  523272| 2.015857969430839|
|    3|  616090| 11.19236458018227|
|    8|  612279|  6.91091468997087|
|    5|  606293| 5.978448290248828|
|    6|  608665|13.266756009659792|
|    9|  540908|0.6977328787273043|
|    1|  605765|10.188855960349496|
|   10|  556205|0.4154954706912698|
|    4|  598126| 6.807297481094145|
|   12|  544958|16.680505081496417|
|    2|  569236|13.077836997760205|
+-----+--------+------------------+