In [6]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
!tar xf spark-2.4.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [7]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.1-bin-hadoop2.7"

In [8]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [9]:
from pyspark.sql import SparkSession

In [10]:
spark = SparkSession.builder \
   .appName("Neural Network Model") \
   .config("spark.executor.memory", "3gb") \
   .getOrCreate()
   
sc = spark.sparkContext

In [11]:
sc

**2. Data Understanding using SparkSQL**

In [12]:
! wget https://storage.googleapis.com/class25jan2022/share/2008.csv

--2022-02-05 13:30:23--  https://storage.googleapis.com/class25jan2022/share/2008.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.81.208, 172.217.2.112, 142.251.16.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.81.208|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 689413344 (657M) [text/csv]
Saving to: ‘2008.csv’

2008.csv            100%[===================>] 657.48M   236MB/s    in 2.8s

2022-02-05 13:30:26 (236 MB/s) - ‘2008.csv’ saved [689413344/689413344]

In [13]:
! wc -l ./2008.csv

7009729 ./2008.csv

In [14]:
! head -3 2008.csv

Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2008,1,3,4,2003,1955,2211,2225,WN,335,N712SW,128,150,116,-14,8,IAD,TPA,810,4,8,0,,0,NA,NA,NA,NA,NA
2008,1,3,4,754,735,1002,1000,WN,3231,N772SW,128,145,113,2,19,IAD,TPA,810,5,10,0,,0,NA,NA,NA,NA,NA

In [15]:
raw_df = spark.read.format('csv').\
option('header','true').option('mode','DROPMALFORMED')\
.load('2008.csv')

In [16]:
raw_df.count()

7009728

In [17]:
raw_df.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: string (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)

**3. Data Preparation using SparkSQL**

In [18]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [19]:
crunched_df = raw_df.\
withColumn('DepTime',col('DepTime').\
           cast(DoubleType())).\
withColumn('TaxiOut',col('TaxiOut').\
           cast(DoubleType())).\
withColumn('TaxiIn',col('TaxiIn').\
           cast(DoubleType())).\
withColumn('DepDelay',col('DepDelay').\
           cast(DoubleType())).\
withColumn('DayOfWeek',col('DayOfWeek').\
           cast(DoubleType())).\
withColumn('Distance',col('Distance').\
           cast(DoubleType())).\
withColumn('ArrDelay',col('ArrDelay').\
           cast(DoubleType()))

In [20]:
crunched_df.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: double (nullable = true)
 |-- DepTime: double (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: double (nullable = true)
 |-- DepDelay: double (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: double (nullable = true)
 |-- TaxiIn: double (nullable = true)
 |-- TaxiOut: double (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: string (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)

In [21]:
crunched_df\
.select(['DepTime','TaxiOut','TaxiIn',\
                     'DayOfWeek','Distance','ArrDelay'])\
                     .describe().toPandas().transpose()

                 0                   1                   2       3       4
summary      count                mean              stddev     min     max
DepTime    6873482  1333.8300461105448  478.06889486629836     1.0  2400.0
TaxiOut    6872670  16.453045177492882  11.332798654232155     0.0   429.0
TaxiIn     6858079   6.860851704974527   4.933649371300466     0.0   308.0
DayOfWeek  7009728  3.9241815088973495  1.9882589459851212     1.0     7.0
Distance   7009728   726.3870294253928   562.1018034840403    11.0  4962.0
ArrDelay   6855029    8.16845238729114   38.50193694882867  -519.0  2461.0

In [22]:
def t_timeperiod(origin):
    if origin is None:
        period = None
    elif origin > 0 and origin < 600:
        period = '00.01-05.59'
    elif origin >= 600 and origin <=1200:
        period = '06.00-11.59'
    elif origin >= 1200 and origin <= 1800:
        period = '12.00-17.59'
    elif origin >= 1800 and origin <= 2400:
        period = '18.00-24.00'
    else:
        period = 'NA'
    return period

In [23]:
timeperiod = udf(lambda x: t_timeperiod(x),StringType())

In [24]:
type(timeperiod)

function

In [25]:
discretized_df = crunched_df.\
withColumn('DepTime',timeperiod(crunched_df['DepTime']))

In [30]:
from pyspark.sql import functions as sparkf

In [26]:
discretized_df.show()

+----+-----+----------+---------+-----------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|    DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-----------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         3|      4.0|18.00-24.00|      1955|   2211|      2225|           WN|      335| N712SW|              128|           150|    116|   -14.0|     8.0|   IAD| TPA|   810.0|   4.0|    8.0|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|      4.0|06.00-11.59|       735|   1002|      1000|           WN|     3231| N772SW|              128|           145|    113|     2.0|    19.0|   IAD| TPA|   810.0|   5.0|   10.0|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|      4.0|06.00-11.59|       620|    804|       750|           WN|      448| N428WN|               96|            90|     76|    14.0|     8.0|   IND| BWI|   515.0|   3.0|   17.0|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|      4.0|06.00-11.59|       930|   1054|      1100|           WN|     1746| N612SW|               88|            90|     78|    -6.0|    -4.0|   IND| BWI|   515.0|   3.0|    7.0|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|      4.0|18.00-24.00|      1755|   1959|      1925|           WN|     3920| N464WN|               90|            90|     77|    34.0|    34.0|   IND| BWI|   515.0|   3.0|   10.0|        0|            null|       0|           2|           0|       0|            0|               32|
|2008|    1|         3|      4.0|18.00-24.00|      1915|   2121|      2110|           WN|      378| N726SW|              101|           115|     87|    11.0|    25.0|   IND| JAX|   688.0|   4.0|   10.0|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|      4.0|18.00-24.00|      1830|   2037|      1940|           WN|      509| N763SW|              240|           250|    230|    57.0|    67.0|   IND| LAS|  1591.0|   3.0|    7.0|        0|            null|       0|          10|           0|       0|            0|               47|
|2008|    1|         3|      4.0|06.00-11.59|      1040|   1132|      1150|           WN|      535| N428WN|              233|           250|    219|   -18.0|    -1.0|   IND| LAS|  1591.0|   7.0|    7.0|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|      4.0|06.00-11.59|       615|    652|       650|           WN|       11| N689SW|               95|            95|     70|     2.0|     2.0|   IND| MCI|   451.0|   6.0|   19.0|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|      4.0|12.00-17.59|      1620|   1639|      1655|           WN|      810| N648SW|               79|            95|     70|   -16.0|     0.0|   IND| MCI|   451.0|   3.0|    6.0|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|      4.0|06.00-11.59|       700|    916|       915|           WN|      100| N690SW|              130|           135|    106|     1.0|     6.0|   IND| MCO|   828.0|   5.0|   19.0|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|      4.0|12.00-17.59|      1510|   1845|      1725|           WN|     1333| N334SW|              121|           135|    107|    80.0|    94.0|   IND| MCO|   828.0|   6.0|    8.0|        0|            null|       0|           8|           0|       0|            0|               72|
|2008|    1|         3|      4.0|12.00-17.59|      1430|   1426|      1425|           WN|      829| N476WN|               60|            55|     39|     1.0|    -4.0|   IND| MDW|   162.0|   9.0|   12.0|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|      4.0|06.00-11.59|       715|    720|       710|           WN|     1016| N765SW|               65|            55|     37|    10.0|     0.0|   IND| MDW|   162.0|   7.0|   21.0|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|      4.0|12.00-17.59|      1700|   1651|      1655|           WN|     1827| N420WN|               49|            55|     35|    -4.0|     2.0|   IND| MDW|   162.0|   4.0|   10.0|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|      4.0|06.00-11.59|      1020|   1021|      1010|           WN|     2272| N263WN|               52|            50|     37|    11.0|     9.0|   IND| MDW|   162.0|   6.0|    9.0|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|      4.0|12.00-17.59|      1425|   1640|      1625|           WN|      675| N286WN|              228|           240|    213|    15.0|    27.0|   IND| PHX|  1489.0|   7.0|    8.0|        0|            null|       0|           3|           0|       0|            0|               12|
|2008|    1|         3|      4.0|06.00-11.59|       745|    940|       955|           WN|     1144| N778SW|              226|           250|    205|   -15.0|     9.0|   IND| PHX|  1489.0|   5.0|   16.0|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|      4.0|12.00-17.59|      1255|   1526|      1510|           WN|        4| N674AA|              123|           135|    110|    16.0|    28.0|   IND| TPA|   838.0|   4.0|    9.0|        0|            null|       0|           0|           0|       0|            0|               16|
|2008|    1|         3|      4.0|12.00-17.59|      1325|   1512|      1435|           WN|       54| N643SW|               56|            70|     49|    37.0|    51.0|   ISP| BWI|   220.0|   2.0|    5.0|        0|            null|       0|          12|           0|       0|            0|               25|
+----+-----+----------+---------+-----------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

In [34]:
discretized_df.groupBy('DepTime').agg({'DepTime':'count'}).orderBy('DepTime').show()

+-----------+--------------+
|    DepTime|count(DepTime)|
+-----------+--------------+
|       null|             0|
|00.01-05.59|        179949|
|06.00-11.59|       2653379|
|12.00-17.59|       2554350|
|18.00-24.00|       1485804|
+-----------+--------------+