In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
!tar xf spark-2.4.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.1-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder \
   .appName("Neural Network Model") \
   .config("spark.executor.memory", "3gb") \
   .getOrCreate()
   
sc = spark.sparkContext

In [ ]:
sc

**2. Data Understanding using SparkSQL**

In [ ]:
! wget https://storage.googleapis.com/class25jan2022/share/2008.csv

--2022-02-04 21:00:20--  https://storage.googleapis.com/class25jan2022/share/2008.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.141.128, 2607:f8b0:4023:c0b::80
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.141.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 689413344 (657M) [text/csv]
Saving to: ‘2008.csv’

2008.csv            100%[===================>] 657.48M   180MB/s    in 3.7s

2022-02-04 21:00:24 (177 MB/s) - ‘2008.csv’ saved [689413344/689413344]

In [ ]:
! wc -l ./2008.csv

7009729 ./2008.csv

In [ ]:
! head -3 2008.csv

Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2008,1,3,4,2003,1955,2211,2225,WN,335,N712SW,128,150,116,-14,8,IAD,TPA,810,4,8,0,,0,NA,NA,NA,NA,NA
2008,1,3,4,754,735,1002,1000,WN,3231,N772SW,128,145,113,2,19,IAD,TPA,810,5,10,0,,0,NA,NA,NA,NA,NA

In [ ]:
raw_df = spark.read.format('csv').\
option('header','true').option('mode','DROPMALFORMED')\
.load('2008.csv')

In [ ]:
raw_df.count()

7009728

In [ ]:
raw_df.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: string (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)

In [ ]:
raw_df\
.select(['DepTime','TaxiOut','TaxiIn',\
                     'DayOfWeek','Distance','ArrDelay'])\
                     .describe().show()

+-------+------------------+------------------+-----------------+------------------+-----------------+-----------------+
|summary|           DepTime|           TaxiOut|           TaxiIn|         DayOfWeek|         Distance|         ArrDelay|
+-------+------------------+------------------+-----------------+------------------+-----------------+-----------------+
|  count|           7009728|           7009728|          7009728|           7009728|          7009728|          7009728|
|   mean|1333.8300461105448|16.453045177492882|6.860851704974527|3.9241815088973495|726.3870294253928| 8.16845238729114|
| stddev|478.06889486629836|11.332798654232155|4.933649371300466|1.9882589459851212|562.1018034840403|38.50193694882867|
|    min|                 1|                 0|                0|                 1|              100|               -1|
|    max|                NA|                NA|               NA|                 7|              999|               NA|
+-------+------------------+------------------+-----------------+------------------+-----------------+-----------------+

In [ ]:
raw_df.groupBy('month').count().orderBy('count',ascending=False).show()

+-----+------+
|month| count|
+-----+------+
|    7|627931|
|    3|616090|
|    8|612279|
|    6|608665|
|    5|606293|
|    1|605765|
|    4|598126|
|    2|569236|
|   10|556205|
|   12|544958|
|    9|540908|
|   11|523272|
+-----+------+

In [ ]:
from pyspark.sql import functions as sparkf

In [ ]:
raw_df.groupBy('month').agg({'month':'count','ArrDelay':'avg'})\
.withColumnRenamed('count(month)','numMonth')\
.withColumnRenamed('avg(ArrDelay)','avgArrDelay')\
.orderBy(sparkf.col('numMonth').desc(),sparkf.col('avgArrDelay').desc()).show()

+-----+--------+------------------+
|month|numMonth|       avgArrDelay|
+-----+--------+------------------+
|    7|  627931| 9.975049681276131|
|    3|  616090| 11.19236458018227|
|    8|  612279|  6.91091468997087|
|    6|  608665|13.266756009659792|
|    5|  606293| 5.978448290248828|
|    1|  605765|10.188855960349496|
|    4|  598126| 6.807297481094145|
|    2|  569236|13.077836997760205|
|   10|  556205|0.4154954706912698|
|   12|  544958|16.680505081496417|
|    9|  540908|0.6977328787273043|
|   11|  523272| 2.015857969430839|
+-----+--------+------------------+

In [ ]:
raw_df.groupBy('DepTime').count().orderBy('DepTime').show()

+-------+-----+
|DepTime|count|
+-------+-----+
|      1|  566|
|     10|  427|
|    100|  217|
|   1000|10428|
|   1001| 7730|
|   1002| 7419|
|   1003| 7303|
|   1004| 7419|
|   1005| 9159|
|   1006| 7196|
|   1007| 7207|
|   1008| 7193|
|   1009| 6816|
|    101|  183|
|   1010| 8762|
|   1011| 6680|
|   1012| 6590|
|   1013| 6533|
|   1014| 6688|
|   1015| 8349|
+-------+-----+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col
from pyspark.sql.types import TimestampType
raw_df.\
withColumn('DepTime',col('DepTime').cast(TimestampType())).\
groupBy('DepTime').count().orderBy('DepTime').show()

+-------------------+-------+
|            DepTime|  count|
+-------------------+-------+
|               null|2083706|
|1000-01-01 00:00:00|  10428|
|1001-01-01 00:00:00|   7730|
|1002-01-01 00:00:00|   7419|
|1003-01-01 00:00:00|   7303|
|1004-01-01 00:00:00|   7419|
|1005-01-01 00:00:00|   9159|
|1006-01-01 00:00:00|   7196|
|1007-01-01 00:00:00|   7207|
|1008-01-01 00:00:00|   7193|
|1009-01-01 00:00:00|   6816|
|1010-01-01 00:00:00|   8762|
|1011-01-01 00:00:00|   6680|
|1012-01-01 00:00:00|   6590|
|1013-01-01 00:00:00|   6533|
|1014-01-01 00:00:00|   6688|
|1015-01-01 00:00:00|   8349|
|1016-01-01 00:00:00|   6500|
|1017-01-01 00:00:00|   6510|
|1018-01-01 00:00:00|   6617|
+-------------------+-------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import *
raw_df.\
withColumn("DepTime",to_timestamp("DepTime").cast('string')) .\
groupBy('DepTime').count().orderBy('DepTime').show()

+-------------------+-------+
|            DepTime|  count|
+-------------------+-------+
|               null|2083706|
|1000-01-01 00:00:00|  10428|
|1001-01-01 00:00:00|   7730|
|1002-01-01 00:00:00|   7419|
|1003-01-01 00:00:00|   7303|
|1004-01-01 00:00:00|   7419|
|1005-01-01 00:00:00|   9159|
|1006-01-01 00:00:00|   7196|
|1007-01-01 00:00:00|   7207|
|1008-01-01 00:00:00|   7193|
|1009-01-01 00:00:00|   6816|
|1010-01-01 00:00:00|   8762|
|1011-01-01 00:00:00|   6680|
|1012-01-01 00:00:00|   6590|
|1013-01-01 00:00:00|   6533|
|1014-01-01 00:00:00|   6688|
|1015-01-01 00:00:00|   8349|
|1016-01-01 00:00:00|   6500|
|1017-01-01 00:00:00|   6510|
|1018-01-01 00:00:00|   6617|
+-------------------+-------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
def t_timeperiod(origin):
  if origin is None:
    period = None
  elif origin > 0 and origin <600:
     period = '00.01-05.59'
  elif origin >= 600 and origin <=1200:
     period = '06.00-11.59'
  elif origin >= 1200 and origin <=1800:
     period = '12.00-17.59'
  elif origin >= 1800 and origin <=2400:
     period = '18.00-24.59'
  else:
    period='NA'
  return period
timeperiod=sparkf.udf(lambda x: t_timeperiod(x),StringType())
raw_df.\
withColumn("DepTime",timeperiod(sparkf.col('DepTime').cast(DoubleType()))).\
groupBy('DepTime').count().orderBy('DepTime').show()

+-----------+-------+
|    DepTime|  count|
+-----------+-------+
|       null| 136246|
|00.01-05.59| 179949|
|06.00-11.59|2653379|
|12.00-17.59|2554350|
|18.00-24.59|1485804|
+-----------+-------+