In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
!tar xf spark-2.4.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.1-bin-hadoop2.7"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder \
   .appName("Neural Network Model") \
   .config("spark.executor.memory", "3gb") \
   .getOrCreate()
   
sc = spark.sparkContext

In [6]:
sc

In [7]:
! wget https://storage.googleapis.com/class25jan2022/share/2008.csv

--2022-02-05 10:34:12--  https://storage.googleapis.com/class25jan2022/share/2008.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 142.251.107.128, 173.194.216.128, 173.194.217.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.251.107.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 689413344 (657M) [text/csv]
Saving to: ‘2008.csv’

2008.csv            100%[===================>] 657.48M   212MB/s    in 3.1s

2022-02-05 10:34:15 (212 MB/s) - ‘2008.csv’ saved [689413344/689413344]

In [8]:
! wc -l ./2008.csv

7009729 ./2008.csv

In [9]:
! head -3 2008.csv

Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2008,1,3,4,2003,1955,2211,2225,WN,335,N712SW,128,150,116,-14,8,IAD,TPA,810,4,8,0,,0,NA,NA,NA,NA,NA
2008,1,3,4,754,735,1002,1000,WN,3231,N772SW,128,145,113,2,19,IAD,TPA,810,5,10,0,,0,NA,NA,NA,NA,NA

In [10]:
file_path = '2008.csv'

In [11]:
airline_df = spark.read.format('csv').\
option('header','true').option('mode','DROPMALFORMED')\
.load(file_path)

In [12]:
airline_df.count()

7009728

In [13]:
airline_row_df = airline_df

In [14]:
airline_row_df.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: string (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)

In [15]:
from pyspark.sql.types import*
from pyspark.sql import functions as sparkf

In [16]:
crunched_df = airline_row_df.\
withColumn('DepTime',sparkf.col('DepTime').\
           cast(DoubleType())).\
withColumn('TaxiOut',sparkf.col('TaxiOut').\
           cast(DoubleType())).\
withColumn('TaxiIn',sparkf.col('TaxiIn').\
           cast(DoubleType())).\
withColumn('DepDelay',sparkf.col('DepDelay').\
           cast(DoubleType())).\
withColumn('DayOfWeek',sparkf.col('DayOfWeek').\
           cast(DoubleType())).\
withColumn('Distance',sparkf.col('Distance').\
           cast(DoubleType())).\
withColumn('ArrDelay',sparkf.col('ArrDelay').\
           cast(DoubleType()))

In [17]:
crunched_df.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: double (nullable = true)
 |-- DepTime: double (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: double (nullable = true)
 |-- DepDelay: double (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: double (nullable = true)
 |-- TaxiIn: double (nullable = true)
 |-- TaxiOut: double (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: string (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)

In [18]:
! pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [19]:
import pandas as pd
crunched_df.\
             select(['DepTime','TaxiOut','TaxiIn',\
                     'DayOfWeek','Distance','ArrDelay']).\
             describe().toPandas().transpose()

                 0                   1                   2       3       4
summary      count                mean              stddev     min     max
DepTime    6873482  1333.8300461105448  478.06889486629836     1.0  2400.0
TaxiOut    6872670  16.453045177492882  11.332798654232155     0.0   429.0
TaxiIn     6858079   6.860851704974527   4.933649371300466     0.0   308.0
DayOfWeek  7009728  3.9241815088973495  1.9882589459851212     1.0     7.0
Distance   7009728   726.3870294253928   562.1018034840403    11.0  4962.0
ArrDelay   6855029    8.16845238729114   38.50193694882867  -519.0  2461.0

In [20]:
def t_timeperiod(origin):
  if origin is None:
     period = None
  elif origin > 0 and origin < 600:
     period = '00.01-05.59'
  elif origin >= 600 and origin <= 1200:
     period = '06.00-11.59'
  elif origin >= 1200 and origin <= 1800:
     period = '12.00-17.59'
  elif origin >= 1800 and origin <= 2400:
     period = '18.00-24.00'
  else:
     period = 'NA'
  return period

In [21]:
timeperiod = sparkf.udf(lambda x: t_timeperiod(x),StringType())

In [35]:
discretized_df = crunched_df.\
withColumn('DepTime',timeperiod(sparkf.col('DepTime')))\
.groupBy('DepTime').count().orderBy('DepTime').show()

+-----------+-------+
|    DepTime|  count|
+-----------+-------+
|       null| 136246|
|00.01-05.59| 179949|
|06.00-11.59|2653379|
|12.00-17.59|2554350|
|18.00-24.00|1485804|
+-----------+-------+